#form{
    position: relative;
    border: 2px;
    border-style: dotted;
    border-color: rgb(0, 0, 0);
    width: 50%;
    padding-left: 20px;
    height: 100%;
    background-color: rgb(167, 165, 165);
}
h2{
    color:white;
    text-align: center;
    font-size:x-large;
    font-family:'Brush Script MT',' Brush Script Std',' cursive';
    margin-top: 20px;
}
input[type=text]{
    float: left;
    border: none;
    color: white;
    width: 200px;   
    padding: 3px;  
    background-color: rgb(167, 165, 165);
    font-family:'Brush Script MT,Brush Script Std,cursive';
}
input[type=email],input{
    float: left;
    border: none;
    font-family:'Brush Script MT,Brush Script Std,cursive';
    color:white;
    width: 300px;   
    background-color: rgb(167, 165, 165);
    padding: 3px;  
}
h3{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
    font-family:'Brush Script MT,Brush Script Std,cursive';
    color: white;
}
h4{
    font-size: 1em;
    font-family:'Brush Script MT,Brush Script Std,cursive';
    color: white;
}
#gen{
    width: 100px;
}
hr{
    width: 70%;
    color:white;
}
button{
    background-color: rgb(233, 195, 195);
    text-decoration: none;
    border: none;
    padding-top: 4px;
}
h5{
    float: left;
    font-size: 1em;
    font-family:'Brush Script MT,Brush Script Std,cursive';
    color: white;
    margin-left: 20px;
}
a{
    float: left;
    font-size: 1em;
    font-family:'Brush Script MT,Brush Script Std,cursive';
    color: rgb(128, 68, 68);
    margin-left: 10px;
    text-decoration: none;
}
div{
    /* background-image: url('../../assets/images/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; */
    /* background-color: black; */
    padding-top: 100px;
   padding-bottom: 100px;
}
button:disabled{
    text-align: center;
    background-color: rgb(66, 47, 23);
}