<div align="center">
    <form id='form' (ngSubmit)="Adddata()" #useregister='ngForm'>
    <h2>PROFESSOR REGISTRATION FORM</h2><br>
    &nbsp;<h3>First name:</h3>
    <input type="text" required placeholder="Enter first name" name="firstname" [(ngModel)]="professor.firstname">
    &nbsp;<h3>Last name:</h3>
    <input type="text" required placeholder="Enter last name" name="lastname" [(ngModel)]="professor.lastname"><br><br>
    &nbsp;<h3>Email:</h3>
    <input type="email" #email=ngModel [class.is-invalid]='email.invalid && email.touched' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required placeholder="Enter email" name="email" [(ngModel)]="professor.email">
    <small class="text-danger" [class.d-none]="email.valid || email.touched"></small>
    <h3>Gender:</h3>
    <input list="genders"  required id="gen" name="genders" [(ngModel)]="professor.gender" />
        <datalist id="genders">
            <option value="Male">
            <option value="Female">
            <option value="Other">
        </datalist><br><br>
    &nbsp;<h3>Mobile number:</h3>
    <input type="text" required minlength="10" maxlength="10" pattern="[0-9]+" placeholder="Enter mobile number" name="number1"  [(ngModel)]="professor.number1"><br><br>
    &nbsp;<h3>House name:</h3>
    <input type="text" required  placeholder="Enter house name" name="housename"  [(ngModel)]="professor.housename">
    &nbsp;<h3>Street:</h3>
    <input type="text" required placeholder="Enter street" name="street"  [(ngModel)]="professor.street"><br><br>
    &nbsp;<h3>City:</h3>
    <input type="text" required placeholder="Enter city" name="city" [(ngModel)]="professor.city">
    &nbsp;<h3>District:</h3>
    <input type="text" required placeholder="Enter district" name="district" [(ngModel)]="professor.district"><br><br>
    &nbsp;<h3>Pin code:</h3>
    <input type="text"  required  minlength="6" maxlength="6" placeholder="Enter pin code" name="pincode"  [(ngModel)]="professor.pincode">
    &nbsp;<h3>State:</h3>
    <input type="text"  required  placeholder="Enter state" name="state"  [(ngModel)]="professor.state"><br><br>
    &nbsp;<h3>Country:</h3>
    <input type="text"  required  placeholder="Enter country" name="country"  [(ngModel)]="professor.country"><br><br>
    &nbsp;<h3> Education Qualification</h3>
    <input type="text" placeholder="Enter qualification"  required  name="qualification" [(ngModel)]="professor.qualification"><br><br>
    &nbsp;<h3>Aadhar card number:</h3>
    <input type="text"  minlength="12" maxlength="12" pattern="[0-9]+" required   placeholder="Enter aadhar id" name="aadhar"  [(ngModel)]="professor.aadhar"><br><br><hr>
    <h4>COURSE DETAILS</h4>
    &nbsp;<h3>Course name:</h3>
    <input type="text" required  placeholder="Enter course name" name="coursename"  [(ngModel)]="professor.coursename"><br><br>
    &nbsp;<h3>Duration (in months):</h3>
    <input type="number"required   name="duration"  [(ngModel)]="professor.duration"><br><br>
    &nbsp;<h3>Course Description:</h3>
    <input type="text" required  placeholder="Enter description" name="description"  [(ngModel)]="professor.description"><br><br><hr>
    <h4>DECLARATION</h4>
    <h4>I hereby declare that all the information mentioned above is true and correct to my knowledge.
    </h4><br>
    <button type="submit" [disabled]='useregister.form.invalid'><h4>Create</h4></button><br>
    <h5>Already have a account</h5><a routerLink="loginprofessor">click here</a><br><br>
    </form>
    </div> 

