
<div align="center">
<form id='form' class="col-6" (ngSubmit)="Adddata()" #userregister='ngForm'>
<h2>STUDENT REGISTRATION FORM</h2><hr><br>
<h4>PERSONAL DETAILS</h4><br>
&nbsp;<h3>First name:</h3><input type="text"  class="form-control" required placeholder="Enter first name" name="firstname" [(ngModel)]="student.firstname">
&nbsp;<h3>Last name:</h3><input type="text"  class="form-control" required placeholder="Enter last name" name="lastname" [(ngModel)]="student.lastname"><br><br>
&nbsp;<h3>Parent/Gaurdian name:</h3><input type="text" required placeholder="Enter parent name" name="parentname" [(ngModel)]="student.parentname"><br><br>
&nbsp;<h3>Email:</h3><input type="email" placeholder="Enter email"  class="form-control" required #email=ngModel [class.is-invalid]='email.invalid && email.touched' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" [(ngModel)]="student.email">
<small class="text-danger" [class.d-none]="email.valid || email.touched"></small>
<h3>Gender:</h3><input list="genders"  id="gen" required name="genders" [(ngModel)]="student.gender">
    <datalist id="genders">
        <option value="Male">
        <option value="Female">
        <option value="Other">
    </datalist><br><br>
    <!-- <div class="user-box">
        <label for="gender" style="color: white;">Gender:</label><br><br>
    <select name="gender" id="cars" style="color: white; background-color: transparent;" name="gender" [(ngModel)]="student.gender" >
      <option value="Male" style="background-color: grey; color:white;">Male</option>
      <option value="Female" style="background-color: grey; color:white;">Female</option>
      <option value="Other" style="background-color: grey; color:white;">Other</option> -->
&nbsp;<h3>Mobile number:</h3><input type="text" required   minlength="10" maxlength="10" pattern="[0-9]+" placeholder="Enter mobile number" name="number1" [(ngModel)]="student.number1"><br><br>
&nbsp;<h3>Parent number:</h3><input type="text" required  minlength="10" maxlength="10" pattern="[0-9]+" placeholder="Enter parent number" name="number2" [(ngModel)]="student.number2"><br><br>
&nbsp;<h3>House name:</h3><input type="text" required  placeholder="Enter house name" name="housename" [(ngModel)]="student.housename">
&nbsp;<h3>Street:</h3><input type="text" required  placeholder="Enter street" name="street" [(ngModel)]="student.street"><br><br>
&nbsp;<h3>City:</h3><input type="text" required  placeholder="Enter city" name="city" [(ngModel)]="student.city">
&nbsp;<h3>District:</h3><input type="text" required  placeholder="Enter district" name="district" [(ngModel)]="student.district"><br><br>
&nbsp;<h3>Pin code:</h3><input type="text" required  placeholder="Enter pin code" minlength="6" maxlength="6" name="pincode" [(ngModel)]="student.pincode">
&nbsp;<h3>State:</h3><input type="text" required  placeholder="Enter state" name="state" [(ngModel)]="student.state"><br><br>
&nbsp;<h3>Country:</h3><input type="text" required  placeholder="Enter country" name="country" [(ngModel)]="student.country"><br><br><hr>
<h4>EDUCATION DETAILS</h4><br>
&nbsp;<h3>Qualification</h3>
<input list="qualification" name="qualification" required  [(ngModel)]="student.qualification">
    <datalist id="qualification">
      <option value="BACHELOR'S">
      <option value="MASTERS'S">
      <option value="DIPLOMA">
      <option value="HIGHER SECONDARY">
    </datalist><br><br>
&nbsp;<h3>College/School name:</h3><input type="text"  required  placeholder="Enter college name" name="collegename" [(ngModel)]="student.collegename">
&nbsp;<h3>City:</h3><input type="text" placeholder="Enter city" required  name="city2" [(ngModel)]="student.city2"><br><br>
&nbsp;<h3>University/School Id:</h3><input type="text" required  placeholder="Enter university id" name="id" [(ngModel)]="student.id"><br><br>
<hr><h4>DECLARATION</h4>
<h4>I hereby declare that all the information mentioned above is true and correct to my knowledge.
</h4><br>
<button type="submit" [disabled]='userregister.form.invalid'><h4>Create</h4></button><br>
<h5>Already have a account</h5><a routerLink="loginstudent">click here</a><br><br>
</form>
</div> 
