<!-- <div>kfdsssssssssssf</div>
<div class="div" >
    <i class='fas fa-user-circle' style='font-size:100px'></i><br><br>
    <h1>{{student.firstname}} {{student.lastname}}</h1><br>
    <h2>Email: {{student.email}}</h2>
    <h2>Contact number: {{student.number1}}</h2>
    <h2>Gender: {{student.gender}}</h2>
    <h2>Parent name: {{student.parentname}}</h2>
    <h2>Parent number: {{student.number2}}</h2>
    <h2>Contact address: {{student.housename}} </h2>
    <h2>{{student.street}} , {{student.city}}</h2>
    <h2>{{student.district}} , {{student.state}}</h2>
    <h2>{{student.country}} , {{student.pincode}}</h2>
    <h2>Higher Qualification: {{student.qualification}}</h2>
   <h2>College/University name: {{student.collegename}}</h2> 
    <h2>University id: {{student.id}}</h2>
    <h2>City: {{student.city}}</h2>
</div> -->
<div id="main">  
    <div id="header"><i class='fas fa-user-circle' style='font-size:50px; padding: 25px;'></i>{{student.firstname}} {{student.lastname}}
    <a href="#" >LOG-OUT</a>
    <a href="myapplication"> MY APPLICATION</a>
    <a href="courselist">COURSE LIST</a>
    </div></div>
  <div id="profile">
    <div class="row">
        <div class="column1" style="background-color:rgb(167, 165, 165);">
        </div>
        <div class="column2">
            <h1>PROFILE</h1><br>
            <h2>{{student.firstname}} {{student.lastname}}</h2><br>
            <h2>Email: {{student.email}}</h2>
            <h2>Contact number: {{student.number1}}</h2>
            <h2>Gender: {{student.gender}}</h2>
            <h2>Parent name: {{student.parentname}}</h2>
            <h2>Parent number: {{student.number2}}</h2>
            <h2>Contact address: {{student.housename}} </h2>
            <h2>{{student.street}} , {{student.city}}</h2>
            <h2>{{student.district}} , {{student.state}}</h2>
            <h2>{{student.country}} , {{student.pincode}}</h2>
            <h2>Higher Qualification: {{student.qualification}}</h2>
           <h2>College/University name: {{student.collegename}}</h2> 
            <h2>University id: {{student.id}}</h2>
            <h2>City: {{student.city}}</h2>
        </div>
      </div>
</div>
