
<div id="div1" class="col-md-12 "><h1>Let's Learn</h1>
<h2> a platform which makes learning online is easier.<br>
and where you can share your knowledge.<br>
we can ensure you best teaching or learning experience.<br><br>
</h2>
<a id="a1" href="#next">get start</a>
<!-- <a routerLink="professorinterface">as a professor</a> -->
<br><br><br><br><br><br><br><br><br>
<div id="next" class="Row" >
<div id="div2" class="Column"><a id="a2" href="#services"><h3>SERVICES<br>WE PROVIDE</h3></a></div>
<div id="div2" class="Column"><a  id="a2"  href="#about"><h3>ABOUT<br>US</h3></a></div>
<div  id="div2" class="Column"><a  id="a2" href="#reglog"><h3>REISTER<br>OR LOGIN</h3></a></div>
<br><br><br><br><br>
<div id="services"class="Row"><br><br><br><div><h1>Services</h1><br><br>
    <h3 id="h3">Tutor Platform is designed to manage all the teaching and
     learning processes and to save your time for creative outbursts. We offer all the solutions and tools 
     that an educational organization or an individual needs to innovate education. And all of this in affordable prices.
      We are specialized in providing consulting to educational organizations and individuals, developing EdTech software
      and app solutions and tailoring the development to custom needs.</h3>
    </div><br><br><br><br><br><br><br><br>
    <div id="about" class="Row"><br><br><br><br><br><div><h1>About us</h1><br><br>
        <h3 id="h4">Developer: Hamna Musthafa<br>
            Email: musthafahamna19@gmail.com or<br>
            letslearn@gmail.com
        <br>Contact number: +917034729267 or<br>+918634702627</h3>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div id="reglog"class="Row"><div><h1>Register of Login</h1><br><br><br><br>
            <a class="a2" routerLink="professorinterface">As a professor</a>
            <a class="a2" routerLink="studentinterface">As a student</a>
            </div><br><br><br><br><br><br><br><br>
        </div>
        
</div>
</div>
<div id="try">
<footer >
    <p>©Copyright 2021 letslearn All Rights Reserved<br>
</footer></div>