#form{
    position: relative;
    border: 2px;
    border-style: dotted;
    border-color: grey;
    width: 50%;
    height: 100%;
    background-color: rgb(201, 191, 191)
}
h2{
    color:rgb(63, 58, 58);
    text-align: center;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
input[type=text]{
    float: left;
    border: none;
    color: rgb(61, 61, 60);
    width: 200px;   
    padding: 3px;  
}
input[type=email],input{
    float: left;
    border: none;
    color: rgb(61, 61, 60);
    width: 300px;   
    padding: 3px;  
}
h3{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(63, 58, 58);
}
h4{
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(63, 58, 58);
}
#gen{
    width: 100px;
}
hr{
    width: 70%;
    color:rgb(77, 72, 72);
}
button{
    background-color: rgb(233, 195, 195);
    text-decoration: none;
    border: none;
    padding-top: 4px;
}
h5{
    float: left;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(63, 58, 58);
    margin-left: 20px;
}
a{
    float: left;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(128, 68, 68);
    margin-left: 10px;
    text-decoration: none;
}
div{
    /* background-image: url('../../assets/images/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; */
    /* background-color: black; */
    padding-top: 100px;
   padding-bottom: 100px;
}